/* GENERAL */

.wrapper {
    width: 900px;
    margin: auto;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #62574A;
    margin: 0;
    padding: 0;
}

header {
    background: url("images/background.jpg");
    background-size: cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

h1,
h2,
h3,
h4 {
    font-family: 'Gentium Book Basic', serif;
}

h2 {
    font-size: 1.2em;
}
 
a {
    text-decoration: none;
    display: inline-block;
}

button, input[type="submit"] {
    background-color: rgba(203, 176, 152, 0.5);
    border: 1px solid #62574A;
    border-radius: 5px;
    margin-top: 10px;
}

button, a, input[type="submit"] {
    color: #62574A;
    font-family: 'Gentium Book Basic',
    serif;
    font-size: 22px;
    font-weight: 700;
    padding: 20px;
}



button:hover, a:hover, input[type="submit"]:hover {
    background-color: #62574A;
    color: rgba(203, 176, 152, 1);
    cursor: pointer;
}

button:focus, a:focus, input[type="submit"]:focus {
    background-color: #62574A;
    color: rgba(203, 176, 152, 1);
    outline: 0;
}

table {
    width: 95%;
    border-collapse: collapse;
    border-radius: 3px;
    background-color: rgba(165, 188, 203, 0.5);
}

th {
    padding: 10px;
    text-align: left;
}

td {
    /*border: 1px solid #62574A;*/
    text-align: left;
    padding: 10px;
}


/* MENU NAV */

#mainNav {
    width: 100%;
    background-color: rgba(229, 215, 203, 1);
}

#mainNav ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

#mainNav ul li {
    list-style-type: none;
}

nav ul li button {
    background-color: transparent;
}

#secondNav {
    display: none;
}
/* SECTION MAIN */

#main {
    display: flex;
}

#corpsDePage {
    flex: 2;
}

#rightMenu {
    flex: 1;
}

aside {
    margin: 10px;
    padding: 10px;
    border-radius: 7px;
}

#biographie {
    background-color: rgba(203, 176, 152, 0.5);
}

#biographie img {
    width: 200px;
}

/* ACCUEIL */

article {
    padding: 10px;
}

.read_more {
    padding: 0;
    font-style: italic;
    font-size: 20px;
}

.read_more:hover {
    background-color: inherit;
}

/* CONTACT */ 

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 10px;
    padding: 50px;
    border: 2px solid #62574A;
    border-radius: 5px;
    background-color: rgba(203, 176, 152, 0.5);
}

form input[type='text'], form input[type='mail'], form input[type='password'], textarea {
    padding: 10px;
    width: 400px;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    color: #62574A;
    border-radius: 5px;
    border: none;
}

form textarea {
    margin-top: 10px;
    height: 150px;
}

form[class='form_signalement'] {
    background-color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    align-items: flex-start;
    flex-direction: row;
}

/* CHAPITRE */

#chapitre {
    display: flex;
    flex-direction: column;
}

#chapitre select {
    padding: 5px;
    border-radius: 7px;
    border: 1px solid rgba(203, 176, 152, 0.5);
}

#chapitre option {
    font-family: 'Open Sans', sans-serif;
}

#chapitre figure {
    display: flex;
    justify-content: center;
}

.img_chapter {
    height: 300px;
}

hr { 
  height: 30px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 1px 0 0 0; 
  border-radius: 20px; 
} 

hr:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
}

form[class='form_signalement'] input {
    margin-bottom: 10px;
    padding: 5px 10px;
}

/* SECTION PORTEFOLIO */

#portefolio {
    border: 1px solid rgba(203, 176, 152, 0.5);
}

#portefolio figure img {
    width: 100px;
}

/* PARTIE ADMIN */
.btn_menu_admin {
    width: 100%;
    border: none;
    border-radius: 0;
}

.btn_admin {
    margin: 5px 10px 10px 0;
    padding: 5px 10px;
}

.btn_underMenu {
    width: 50%;
    min-width: 200px;
    text-align: left;
    border: none;
    border-radius: 0;
    margin-bottom: 10px;
    font-weight: normal;
    background-color: rgba(203, 176, 152, 0.3);
}

#div_admin_contacts, .btn_underMenu + div {
    display: none;
}

/* Creation Chapitres */
#div_tinyMCE:target {
    display: flex;
    flex-direction: column;
}

#tinyMce_form {
    display: flex;
    flex-direction: column;
    margin: 0;
}

#tinyMce_table {
    background-color: transparent;
    margin-bottom: 20px;
}

input[type="number"] {
    width: 40px;
    padding: 10px;
    border: none;
    border-radius: 3px;
}

/* Commentaire signalés */

.item_in_a_list {
    margin-bottom: 20px;    
}

/* Session admin */ 

#sessionAdmin {
    display: flex; 
}

#form_addAdmin {
    padding: 15px;
}

#form_addAdmin p, #form_addAdmin h1 {
    margin-bottom: 0;
}

#form_deconnexion {
    background-color: inherit;
    border: none;
    padding: 0;
}

#form_deconnexion button {
    margin: 0;
    border-width: 2px;
}

/* SECTION FOOTER */

footer {
    height: 100px;
    background-color: rgba(203, 176, 152, 0.5);
}

/* RESPONSIVE */

/* IPAD */

@media all and (max-width: 1024px) {
    
    /* GENERAL */

    .wrapper {
        width: 95%;
    }
    
    /* SECTION MAIN  */

    #main {
        flex-direction: column;
    }

    #sessionAdmin {
    flex-direction: column;
    }

    #form_deconnexion {
        margin-top: 0;
    }
}

/* SMARTPHONE */ 

@media all and (max-width: 700px) {

    /* GENERAL */

    /* FLYERS */
    
    header {
    background: inherit; 
    background-size: inherit; 
    height: inherit; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    }

    /* MENU NAV SECONDAIRE */

    #mainNav {
        display: none;
    }

    #secondNav {
        display: block;
        width: 100%;
        color: #62574A;
        font-family: 'Gentium Book Basic',
        serif;
        font-style: italic;
        font-weight: 700;
        background-color: rgba(203, 176, 152, 0.5);
    }

    #secondNav ul {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    /* FORMULAIRES */

    form input[type='text'], 
    form input[type='mail'], 
    form input[type='password'], 
    textarea {
        width: 100%;
    }    

}